
  
  .content {
    width: 91%;
    margin: auto;
    text-align: justify;
    font-family: Roboto, sans-serif;
  }
  
  img {
    width: 150px;
    height: 185px;
    margin-left: 15px !important;
    margin-top: 10px !important;
  }

  .comentario {
    width: 91%;
    margin-left: auto;
    margin-right: auto;
  }


  .btn {
    width: 30%;
    margin-left: 70%;
    font-style: normal;
    font-family: "Poiret One";
    letter-spacing: 3px;
    border: 0.8px solid white;
    background: #74b4bc;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  }
  
  button {
    margin-top: 0.3rem;
    margin-bottom: 0.5rem;
  }
  
  .boton {
    padding-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
    font-family: Poiret One;
    max-width: 70%;
    width: 30rem;
  }
  
  .opciones{
    margin-top: 5em;
    margin-bottom: 1em;
    width: 91%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: stretch;
      align-content: stretch;
  }
  
  button.suscribir {
    width: 40%;
    margin-left: 0 !important;
    background-color: #fec2a3;
    color: white;
    border-color: white;
    padding: 0;
    padding-top: 3.5px;
    margin-top: 0 !important;
    border-radius: 4px;
    padding-bottom: 3.5px;
    margin-bottom: 0 !important;
  }
  
  button.btn-mas{
      width: 70%;
      margin-left: 15%;
      background: orange;
      font-weight: bold;
  
  }
  
  .media-list {
    padding: 0 !important;
  }
  
  .comment-wrapper .panel-body {
    overflow: hidden;
    width: 100%;
  }
  
  .comment-wrapper .media-list .media img {
    width: 64px;
    height: 64px;
    border-radius: 50px;
    border: 2px solid #e5e7e8;
    margin-right: 15px !important;
    margin-left: 7px !important;
    margin-bottom: 10px !important;
  }
  
  .comment-wrapper .media-list .media {
    border-bottom: 1px solid #efefef;
    margin-bottom: 20px;
    padding-bottom: 15px;
  }
 
  p {
    text-align: justify;
    margin-right: 7px;
    max-width: 270px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
  }
  
  .snippets {
    font-family: Roboto, sans-serif;
  }
  
  time{
    color: grey !important;
    font-size: 0.7rem;
  }
  
  .ordenar{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: stretch;
    align-content: stretch;
    max-width: 100%;
  }
  
  
  div.p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }
  
  div.p:hover {
    overflow: visible;
  }

  .text-success{
    color: #495057 !important;
  }
  

  
  @media(max-width: 390px){
    p{
      max-width: 256px;
    }
  }
  
  @media (max-width: 360px) {
    button.primero {
      width: 45%;
    }
    button.abajo {
      width: 15%;
    }
    h2 {
      margin-top: 1em;
    }
    p{
      max-width: 209px;
      
    }
  }
  
  @media (max-width: 320px){
    .text-success {
      font-size: small;
    }
    p{
      font-size: small;
    }
    mat-icon.like{
      font-size: small;
    }
    mat-icon.dislike{
      font-size: small;
    }
    .comment-wrapper .media-list .media img {
      width: 50px;
      height: 50px;
      margin-right: 15px !important;
    }
  
  }
  
  .color{
    color: black;
  }
  
  @media(min-width:575px){
    p{
      max-width: 450px;
    }
  }
  
  @media(min-width:900px){
    p{
      max-width: 800px;
    }
  }
  