<app-navbar></app-navbar>

<h4 style="margin-top:3%;margin-left: 3%;">Subcategorías</h4>

<div
  *ngFor="let cat of subCategories"
  style="margin-left: auto; margin-right: auto; margin-top: 2em;"
  class="acordion"
>
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header style="height: auto !important;">
        <mat-panel-title>
          <img
            mat-card-avatar
            src="{{ cat.image }}"
            class="example-header-image"
          />
        </mat-panel-title>
        <mat-panel-description
          class="ordenar"
          style="
            text-align: justify;
            display: flex;
            align-items: center;
            width: 100%;
            color: black;
          "
        >
          {{ cat.name
          }}<mat-icon
            data-toggle="modal"
            data-target="#exampleModal"
            (click)="catchId(cat.id)"     
          >
            add
          </mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Subcategorias
        </mat-panel-title>
        <mat-panel-description>
          {{ panelOpenState ? "Ocultar" : "Desplegar" }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngFor="let com of cat.subCategories">
        <div>
          <mat-card
            class="example-card container head"
            style="margin-bottom: 1em;"
          >
            <img mat-card-image  class="encabezado" />
            <mat-card-header>
                <div mat-card-avatar class="example-header-image">
                  <img mat-card-avatar [src]="com.image" alt="User Avatar" />
                </div>
                <mat-card-title>{{ com.name }}</mat-card-title>
                <mat-card-subtitle style="text-align: justify;">{{
                  com.text
                }}<p>
                    
                    <a href="">Contenido extra</a>
                  </p></mat-card-subtitle>
                
              </mat-card-header>
              <mat-divider></mat-divider>

            <mat-card-actions>
              <button
                type="button"
                (click)="preUpdate(com)"
                data-toggle="modal"
                data-target="#exampleModal"
                class="btn btn-primary"
                
              >
                <mat-icon> create </mat-icon>
              </button>

              <div *ngIf="com.isActive; else activo" style="display: inline;">
                <a  class="btn btn-primary" (click)="changeStatus(com.id)"
                  ><mat-icon> close </mat-icon></a
                >
              </div>
              <ng-template #activo
                ><button
                  type="button"
                  class="btn btn-primary"
                  (click)="changeStatus(com.id)"
                >
                  <mat-icon> check </mat-icon>
                </button>
              </ng-template>
              <button
              type="button"
              (click)="preUpdate(com)"
              data-toggle="modal"
              data-target="#exampleModal2"
              class="btn btn-primary"
            >
              <mat-icon> cloud_download </mat-icon>
            </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>


<!-- Modal Editar o Agregar-->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <strong> {{ !this.selected.id ? "Crear" : "Modificar" }}</strong>
        </h5>
        <button
        (click)="reset()"
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
              <div class="card card-signin flex-row my-5">
                <div class="card-img-left d-none d-md-flex"></div>
                <div class="card-body" style="width: 100%;">
                  <form [formGroup]="subCategoryForm" class="form-signin">
                    <div class="form-label-group">
                      <label for="inputUserame">Título</label>
                      <input
                      [(ngModel)]="this.selected.name"
                      formControlName="name"
                        type="text"
                        id="inputUserame"
                        class="form-control"
                        placeholder="Títutlo"
                        required
                        autofocus
                      />
                    </div>
                    <div *ngIf="name.invalid && name.dirty">
                      <div *ngIf="name.errors.required" class="mat-error">
                        Titulo es Requerido
                      </div>
                      <div *ngIf="name.errors.minlength" class="mat-error">
                        Debe tener al menos 4 caracteres
                      </div>
                    </div>

                    <div class="form-label-group">
                      <label for="inputEmail">Descripción</label>
                      <input
                      [(ngModel)]="this.selected.text"
                      formControlName="text"
                        type="text"
                        class="form-control"
                        placeholder="Descripción de la subcategoria"
                        required
                      />
                    </div>
                    <div *ngIf="text.invalid && text.dirty">
                      <div
                        *ngIf="text.errors.required"
                        class="mat-error"
                      >
                        Descripcion es Requerida
                      </div>
                      <div
                        *ngIf="text.errors.minlength"
                        class="mat-error"
                      >
                        Debe tener al menos 4 caracteres
                      </div>
                    </div>
                    

                    <div class="form-label-group" *ngIf="!this.selected.id">
                      <label>Imagen</label>
                      <ngx-dropzone (change)="onSelect($event)">
                        <ngx-dropzone-label>Drop it</ngx-dropzone-label>
                        <ngx-dropzone-preview
                          *ngFor="let f of files"
                          [removable]="true"
                          (removed)="onRemove(f)"
                        >
                          <ngx-dropzone-label>archivo</ngx-dropzone-label>
                        </ngx-dropzone-preview>
                      </ngx-dropzone>
                    </div>

                    <br />
                    <button
                      class="btn btn1 btn-primary"
                      data-dismiss="modal"
                      style="margin-left: 27, 5%;"
                      (click)="onSubmit()"
                    >
                      continuar
                    </button>

                    <hr class="my-4" />
                    <button
                    #btnClose
                      (click)="reset()"
                      class="btn btn1 btn-primary"
                      data-dismiss="modal"
                      style="margin-left: 27, 5%;"
                    >
                      cancelar
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Editar Imagen-->
<div
  class="modal fade"
  id="exampleModal2"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <strong> Cambiar imagen de la categoría </strong>
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
              <div class="card card-signin flex-row my-5">
                <div class="card-img-left d-none d-md-flex"></div>
                <div class="card-body" style="width: 100%;">
                  <form class="form-signin">
                    <div class="form-label-group">
                      <label for="inputPassword">Imagen</label>
                      <ngx-dropzone (change)="onSelect($event)">
                        <ngx-dropzone-label>Drop it</ngx-dropzone-label>
                        <ngx-dropzone-preview
                          *ngFor="let f of files"
                          [removable]="true"
                          (removed)="onRemove(f)"
                        >
                          <ngx-dropzone-label>archivo</ngx-dropzone-label>
                        </ngx-dropzone-preview>
                      </ngx-dropzone>
                    </div>

                    <br />
                    <button
                      class="btn btn1 btn-primary"
                      type="submit"
                      data-dismiss="modal"
                      style="margin-left: 27, 5%;"
                    >
                      continuar
                    </button>

                    <hr class="my-4" />
                    <button
                      class="btn btn1 btn-primary"
                      data-dismiss="modal"
                      style="margin-left: 27, 5%;"
                    >
                      cancelar
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
